*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-image:url(../img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    font-size: 70px;
    float: right;
    list-style: none;
    margin-top: -420px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 25px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
ul li.active a{
    background-color: white;
    color: black; 
}
.logo img{
    float:left;
    width:700px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: 10px;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.title h3{
    color: white;
    font-size: 400px;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.btn{
    font-size: 100px;
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;

}
.btn:hover{
    background-color: white;
    color: black;
}